{% extends 'base.html' %}
{% load static %}
{% block title %}Xorij habarlar {% endblock title %}
{% block content %}
{% for sport in sportnews_list %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="{{ sport.get_absolut_url }}">
                <img src="{{ sport.image.url }}" alt="{{sport.title }}" style="width: 100%; margin-bottom: 15px;">
            </a>
        </div>
        <div class="col-sm-8">
            <a href="{{ sport.get_absolute_url }}">
                <h2><b>{{ sport.title }}</b></h2>
            </a>
            <p>{{ sport.body| truncatewords:50}}</p>
           <p>{{ sport.published_time }}</p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}
